@import "../Styles/variables";

.breakdown {
  margin-top: 2rem;
  width: 100%;

  &.guessed {
    height: calc(252px - 63px);
  }

  @media (min-width: $smBreakpoint) {
    height: 144px !important;
  }
}

.breakdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .entry {
    height: 24px;
    display: flex;

    .element {
      flex: 0 60px;
    }
    .value {
      flex: 0 240px;
    }
    &.sum {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}
