.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 4rem);
  max-width: 900px;
}

.call-to-action {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

.date-to-guess {
  margin: 1rem 0 3rem;
  font-size: 48px;
  font-weight: 600;
}

.buttons {
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
}
.buttons.full {
  display: none;
}

@media (min-width: 930px) {
  .buttons.mobile {
    display: none;
  }
  .buttons.full {
    display: grid;
  }
}

.status {
  font-size: 24px;
  min-height: 32px;
  margin-bottom: 2rem;
  font-weight: 200;
  text-align: center;
}

.correct {
  color: forestgreen;
}

.incorrect {
  color: crimson;
}

.breakdown {
  height: 144px;
  margin-top: 2rem;
  width: 100%;
}

.breakdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.breakdown-content .entry {
  height: 24px;
  display: flex;
}

.breakdown-content .entry .element {
  flex: 0 60px;
}
.breakdown-content .entry .value {
  flex: 0 240px;
}
.breakdown-content .entry.sum {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}