@import "./Styles/variables";

.app-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 2rem 0;
  align-items: center;

  @media (min-width: $smBreakpoint) {
    align-items: center;
  }
}

.app {
  display: flex;
  flex-direction: column;
  width: calc(100% - 4rem);
  max-width: 900px;
  align-items: center;

  .call-to-action {
    font-size: 24px;
    font-weight: 200;
    text-align: center;
  }

  .date-to-guess {
    margin: 1rem 0 0.5rem;
    font-size: 48px;
    font-weight: 600;

    @media (min-width: $smBreakpoint) {
      margin-bottom: 3rem;
    }
  }
}
