.app-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 2rem 0;
}
@media (min-width: 930px) {
  .app-wrapper {
    align-items: center;
  }
}

.app {
  display: flex;
  flex-direction: column;
  width: calc(100% - 4rem);
  max-width: 900px;
  align-items: center;
}

.call-to-action {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

.date-to-guess {
  margin: 1rem 0 0.5rem;
  font-size: 48px;
  font-weight: 600;
}
@media (min-width: 930px) {
  .date-to-guess {
    margin-bottom: 3rem;
  }
}

.buttons {
  display: grid;
  grid-gap: 1rem;
  margin-top: 1.5rem;
}

@media (min-width: 930px) {

  .buttons {
    margin-top: 2rem;
    grid-auto-flow: column;
  }
}

.status {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}
@media (min-width: 930px) {
.status {
  min-height: 32px;
}
}

.correct {
  color: forestgreen;
}

.incorrect {
  color: crimson;
}

.breakdown {
  height: 144px;
  margin-top: 2rem;
  width: 100%;
}

.breakdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.breakdown-content .entry {
  height: 24px;
  display: flex;
}

.breakdown-content .entry .element {
  flex: 0 60px;
}
.breakdown-content .entry .value {
  flex: 0 240px;
}
.breakdown-content .entry.sum {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}